@CHARSET "UTF-8";
body{
	width:100%;
}

.input-group-area {
	margin-bottom: 30px;
	width:100%;
	height: 50px;
/* 	background: #1b89c4; */
	background:#9abdd0;
	opacity: 0.69;
}

.input-group-area  .btn-primary {
    margin-top:8px;
	margin-left: 26px;
  /*   background: #198ac8; */
    background: #089beb;
    color: #fff;
    opacity: 1;
    font-size:14px;
    z-index: 2222;
}
.glyphicon:before {
 
    position: relative;
    top: 1px;
    right: -7px;
}
.input-group-area  .btn-primary:HOVER {

  /*   background: #198ac8; */
    background: #ffad33;

}
#searcherArea .row{
	margin-left:0px;
	margin-right:0px;
}
.list-searcher {
	min-width: 300px;
	height: 40px;
}

.list-searcher input {
	display: inline-block;
	margin-right: 20px;
	width: 200px;
}

.list-searcher span {
	display: inline-block;
	width: 90px;
}

.backgray {
	background: gray;
}

.fixed-table-container .bs-checkbox {
	text-align: center;
	vertical-align: middle;
}

.input-group {
	margin-top: 10px;
}

#searcherArea {
	min-width: 800px;
}

.bootstrap-table {
	min-width: 1000px;
	width:100%;
}

.btn-primary {
	margin-right: 3px;
}

.row {
	margin-bottom: 10px;
}

.row label {
	min-width: 70px;
}

.form-control {
	width: 70%;
	display: inline;
}

.timeLabelDiv {
	float: left;
	height: 34px;
	min-width: 70px;
}

.timeLabelDiv label {
	margin-top: 7px;
}

.timeChooseDiv {
	width: 70%;
	margin-top: 0px;
}

.input-group-addon {
	background-color: #fff;
}

.tip-factory {
	width: 70%;
	height: auto;
	position: absolute;
	z-index: 9999;
}
.tip-factory-content{
    /* width:100%; 这里设置后，后面的margin-right:就不起作用*/
	height: auto;
	z-index: 9999;
	margin-right:21px;   /* 598 * 0.7 568 *0.7*/
	border-radius:5px;
	background: rgba(182, 176, 176, 0.3);
}
.fixed-table-body #table .bs-checkbox {
vertical-align: middle;
} 
.table tr td img{
    margin-right: 10px; 
}