@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
	background-color:#fff;
}
.main{
	height:900px;
	font-size:16px;
	font-family:"Times New Roman",Georgia,Serif;
	margin:0 auto;
}
.showContract{
	width:99%;
	height:250px;
	margin:20px 10px;
}
.showContract .top{
	height:40px;
	line-height:40px;
	margin-bottom:10px;
	border:1px solid #ccc;
}
.contract_title{
	display:inline;
}
.contract_title img{
	margin:0 10px;
}
.contract_code{
	display:inline;
	width:700px;
}
.contract_code #contractID{
	display:none;
}
.contract_code .contractCode{
	height:40px;
	width:300px;
}
.control-label{
	width: 22%;
	line-height:34px;
	min-wdith: 80px;
}
.form-control {
	display: inline;
	width: 70%;
}
.showContract .bottom{
}
.showContract .bottom div.col-xs-4,div.col-md-2{
	height:32px;
	line-height:32px;
	margin:10px 0;
}
.showContract .bottom div.col-xs-2a{
	width:16%;
}
.showContract .bottom div.col-xs-1a{
	width:15.3%;
}
label.wide{
	width: 55%;
}
.narrow{
	display: inline;
	width: 37%;
}
.timeLabelDiv {
	float: left;
	height: 34px;
	width: 22.5%;
}

.timeLabelDiv label {
	min-width: 83.92px;
}

.timeChooseDiv {
	width: 70%;
}
.isClassified-label{
	width:54%;
}
.classifiedLevel-label{
	width:34%;
}
.classifiedLevel-select{
	width:63%;
}

.companyN{
	margin-left:23%;
	position:relative;
	width:70%;
	display:none;
	border:1px solid #ccc;
	border-top:none;
	border-radius:3px;
	background-color:#fff;
	z-index: 10;
}
.companyN ul {
	height:30px;
	border:none;
	margin:0;
	margin-left:-40px;
}
.companyN ul li{
	height:30px;
	line-height: 30px;
	list-style-type: none;
	text-indent: 12px;
	background-color:#fff;
}
.companyN ul li:hover{
	background-color:#dcdcdc;
}
.employeeN{
	position:relative;
	margin-left: 53%;
	width:40%;
	display:none;
	border:1px solid #ccc;
	border-top:none;
	border-radius:3px;
	z-index: 10;
}
.employeeN ul {
	height:30px;
	border:none;
	margin:0;
	margin-left: -40px;
}
.employeeN ul li{
	height:30px;
	line-height: 30px;
	list-style-type: none;
	text-indent: 12px;
	background-color:#fff;
}
.employeeN ul li:hover{
	background-color:#dcdcdc;
}
#addContent{
	z-index: 1;
}
.testProjectName{
	position: absolute;
    margin-left: 21.5%;
    float: left;
    width: 66.5%;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
    background-color: #fff;
    z-index: 10;
}
.testProjectName ul {
	height:30px;
	border:none;
	margin:0;
	margin-left:-40px;
}
.testProjectName ul li{
	height:30px;
	line-height: 30px;
	list-style-type: none;
	text-indent: 12px;
}
.testProjectName ul li:hover{
	background-color:#dcdcdc;
}

.contractFile{
	width:99%;
	min-height:300px;
	margin:20px 10px;
}
.contractFile .top{
	height:40px;
	line-height:40px;
	margin-bottom:10px;
	border:1px solid #ccc;
}
.contractFile_title{
	display:inline;
}
.contractFile_title img{
	margin:0 10px;
}
.contractFile .top .btnAdd{
	margin:0 5px;
}
.contractFile .top  .btnAdd button{
	width:106px;
	height:30px;
	line-height:30px;
	font-size:14px;
	background-color:#198ac8;
	color:#fff;
	border: none;
}
.contractFile .bottom{
	margin:20px 10px;
	height:256px;
	width:99%;
	border:1px solid #ccc;
}

#show_contractFile{
	width:99%;
}

.contractFileItem{
	width:99%;
	min-height:300px;
	margin:20px 10px;
}
.contractFileItem .top{
	height:40px;
	line-height:40px;
	margin-bottom:10px;
	border:1px solid #ccc;
}
.contractFileItem_title{
	display:inline;
}
.contractFileItem_title img{
	margin:0 10px;
}
.contractFileItem .top .btnAdd{
	margin:5px;
}
.contractFileItem .top  .btnAdd button{
	width:106px;
	height:30px;
	line-height:20px;
	font-size:14px;
	background-color:#198ac8;
	color:#fff;
	border: none;
}

.contractFileItem .bottom{
	margin:20px 10px;
	height:230px;
	width:99%;
	border:1px solid #ccc;
}
#show_contractFileItem{
	width:99%;
	min-width:1042px;
}
.footer{
    float:left;
    width:99%;
}
.footer button#btn-goback{
	margin-left:10px;
	color:#364760;
	background-color:#fff;
}
.footer button{
	float:right;
	width:106px;
	height:30px;
	color:#eee;
	background-color:#364760;
	border:2px solid #475879;
}
#show_contractFile thead,.modal-header {
	background-color: #364760;
	color: #fff;
	font-size: blod 14px;
}
#show_contractFileItem thead,.modal-header {
	background-color: #364760;
	color: #fff;
	font-size: blod 14px;
}

.bs-checkbox {
	vertical-align: middle !important;
}

.fl{float:left;}
.fr{float:right;}
