@CHARSET "UTF-8";
.reason{
	display:block;
	
	height:420px;
	width:400px;
	padding-left:150px;
}
.tittle{
	margin-bottom:30px;
}

.center{
	height:246px;
	width:300px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	margin-bottom:30px;
	padding-top:20px;
}
.form-group {
    margin-bottom: 36px;
}
#files{
	position:absolute;
	margin-top: 20px;
    margin-left: 20px;
}
.modal-footer {
    padding: 30px;
  /*   text-align: right; */
    border-top: 1px solid #e5e5e5;
}
.btn{
	height:36px;
}
.tan{
	position:fixed;
	width:300px;
	height:100px;
	z-index:9999;
	opacity:0.8;
	padding-top:30px;
	text-align:center;
	font-size:25px;
	display:none;
}
#list1{
	
	position: absolute;
    left: -10px;
    top: 20px;
    right: 51px;
}

#list2{
	
	position: absolute;
    left: 6px;
    top: 20px;
    right: 51px;
}
.formontral{
	
	margin-right:30px;
}
.location{
	margin-left:136px;
}