@CHARSET "UTF-8";
body{
	margin-top:0px;
	margin-left:0px;
}
#main{
	width:1400px;
	margin:0 auto;
}
#head{
	height:40px;
	margin-top:40px;
}
.headtext{
	display:inline-block;
	width:270px;
	height:36px;
}
.text{
	display:inline-block;
	width:200px;
}
.special{
	display:inline-block;
	height:36px;
	float:right;
}
#content{
	height:400px;
	margin-top:10px;
}
.from-grop-list{
	margin-top:30px;
}
#content tr{
	height:40px;
}